* {
    box-sizing: border-box;
    color: rgb(0, 128, 68);
}

body {
    margin: 0;
    background-color: darkred;
    font-family:Arial, Helvetica, sans-serif
}

main {
    background-color: white;
   width:70%;
   margin:auto 1rem auto;
   padding: 0 1rem 2rem 1rem;
}

header {
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}